* {
    box-sizing: border-box;
}

body {
    max-width: 1300px;
    height: 100vh;
    margin: 0 auto 75px;
    background: rgb(246,246,246);
    background: radial-gradient(circle, rgba(246,246,246,1) 75%, rgba(207,207,207,1) 100%);
}

input {
    min-width: 325px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    padding: .85em;
    color: #666;
    flex-basis: 45%;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder {
    opacity: .4;
}

input:focus {
    outline: none;
}

img {
    width: 275px;
    height: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 1.75em 0;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 25px 0;
}

.grid-item {
    display: grid;
    justify-content: center;
}